<%= form_for(@master, :url => websites_path, :validate => true, :remote => true) do |f| %>
    <%= error_messages!(@master) %>

    <div><%= f.label :name, "Name" %>
      <%= f.text_field :name %></div>

    <div><%= f.label :slug, "http://#{BuspassAdmin::Application.base_host}/" %>
      <%= f.text_field :slug %></div>

    <div><%= f.label :longitude, "Longitude (-180 to 180)" %>
      <%= f.text_field :longitude %></div>

    <div><%= f.label :latitude, "Latitude (-90 to 90)" %>
      <%= f.text_field :latitude %></div>

    <div><%= f.label :timezone, "Time Zone" %>
      <%=  f.collection_select_with_client_side_validations :timezone, TIMEZONES_LIST, :to_s, :to_s %></div>

    <div><%= f.submit "Create", :class => "btn"  %></div>
<% end %>
