<%= form_for(@master, :url => website_path(@master)) do |f| %>
    <%= error_messages!(@master) %>

    <div><%= f.label :name, "Name" %>
      <%= f.text_field :name %></div>

    <div><%= f.label :slug, "http://busme.us/" %>
      <%= f.text_field :slug %></div>

    <div><%= f.label :longitude, "Longitude (-180 to 180)" %>
      <%= f.text_field :longitude %></div>

    <div><%= f.label :latitude, "Latitude (-90 to 90)" %>
      <%= f.text_field :latitude %></div>

    <div><%= f.label :timezone, "Time Zone" %>
      <%=  f.time_zone_select_with_client_side_validations :timezone %></div>

    <div><%= f.submit "Update", :class => "btn"  %></div>
<% end %>
