<h2>Muni Home View for <%=  @muni.name %></h2>

Database: <%=  @database %><br />
Slug <%= @slug %>          <br />
<table>
  <tr>
    <th>Name</th>
    <td><%= @master.name %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= to_location_str(@master.location) %></td>
  </tr>
</table>
<p>
  <%= link_to "Network Planning", plan_networks_path( :master => @master ) %>
</p>
