<h2><%= link_to "Network #{@network.name}", network_path(@network, :masters => @muni.slug) %></h2>
<table>
  <tr>
    <th>Mode</th>
    <td><%=  @network.mode %></td>
  </tr>
  <tr>
    <th><%= link_to "Services", network_services_path(:masters => @muni.slug, :network_id => @network) %></th>
    <td><%= @network.services.count %></td>
  </tr>
  <tr>
    <th><%= link_to "Routes", network_routes_path(:masters => @muni.slug, :network_id => @network) %></th>
    <td><%=  @network.routes.count %></td>
  </tr>
  <tr>
    <th><%= link_to "Vehicle Journeys", network_vehicle_journeys_path(:masters => @muni.slug, :network_id => @network) %></th>
    <td><%=  @network.vehicle_journey_count %></td>
  </tr>
</table>

<% if @network.processing_lock %>
    <table>
      <tr>
        <th>Processor</th>
        <td><%=  @network.processing_lock.name %></td>
      </tr>
      <tr>
        <th>Progress</th>
        <td><%= (@network.processing_progress * 100).floor %></td>
      </tr>
    </table>
<% end %>

<P>
  <%= link_to "All", networks_path(:masters => @muni.slug) %>
  <% if muni_admin_signed_in? %>
    <%=  link_to "Plan Network", plan_networkplan_path(:masters => @muni.slug, :network => @network ) %>
  <% end %>

</P>