
<div class="row">
  <div class="span4">
  <%= form_tag start_master_municipality_simulate_path(@master, @municipality), :remote => true do %>
      <%= label_tag(:date, "Date[YYYY-MM-DD]:") %>
      <%= text_field_tag(:date, @date.strftime("%Y-%m-%d")) %>
      <%= label_tag(:time, "Time[HH:MM ZZZ]:") %>
      <%= text_field_tag(:time, @time.strftime("%H:%M %Z")) %>
      <%= label_tag(:mult, "Clock Multiplier:") %>
      <%= text_field_tag(:mult, @mult) %>
      <%= label_tag(:duration, "Duration[mins]:") %>
      <%= text_field_tag(:duration, @duration) %><br />
      <%= submit_tag("Start Simulation", :id => "start", :class => "btn", :disabled => (@job && @job.processing_status != "Stopped")) %>
  <% end %>
  </div>
  <div class="span4">
    <div id="sim_clock">
    </div>
    <br />
    <%= button_to("Stop Simulation", stop_master_municipality_simulate_path(@municipality, :master_id => @master.id), :method => :post, :class => "btn", :id => "stop", :remote => true, :disabled => (@job.nil? || @job.processing_status == "Stopped")) %>
  </div>
</div>
<div class="row">
  <div class="span16">
    <div id="start_status">

    </div>
    <h3>Simulation Status</h3>
    <table class="table table-striped">
      <tr>
        <th>Simulation Base Time</th>
        <td>
          <div id="sim_time"><%= @job.sim_time ?
                                         @job.sim_time.strftime("%m-%d-%Y %H:%M %Z") :
                                         "Pending" if @job %></div>
        </td>
      </tr>
      <% if @job && @job.clock_mult && @job.clock_mult != 1 %>
          <tr>
            <th>Clock Multiplier</th>
            <td>
              <div id="clock_mult"><%= @job.clock_mult %></div>
            </td>
          </tr>
      <% end %>
      <tr>
        <th>Process Start Time</th>
        <td>
          <div id="started_at"><%= @job.processing_completed_at ?
                                           @job.processing_completed_at.strftime("%m-%d-%Y %H:%M %Z") :
                                           "Pending" if @job %></div>
        </td>
      </tr>
      <tr>
        <th>Process Status</th>
        <td>
          <div id="status"><%= @job.processing_status if @job %></div>
        </td>
      </tr>
      <tr>
      <th>Process Complete Time</th>
      <td>
        <div id="completed_at"><%= @job.processing_completed_at ?
                                           @job.processing_completed_at.strftime("%m-%d-%Y %H:%M %Z") :
                                           "" if @job %></div>
      </td>
    </table>
    <h3>Simulation Log</h3>
    <div id="processing_log">
      <div class="items logview">
        <% for i in @job.processing_log %>
            <div class="item"><%= i %></div>
        <% end if @job %>
      </div>
    </div>
  </div>
</div>