<%= render :partial => "masters/deployments/table_info" %>

<p>
  <%= render :partial => "masters/deployments/links" %>
</p>

<p>
  <%=  render :partial => "masters/deployments/button_check_activate_status" %>
</p>
<%=  render :partial => "masters/deployments/status_activate" %>
<%=  render :partial => "masters/deployments/buttons_active" %>

<h3>Networks</h3>

<%= render :partial => "masters/deployments/table_networks" %>