<table class="table table-striped">
  <thead>
  <tr>
    <th>Vehicle Journey</th>
    <th>Position</th>
    <th>Departs</th>
    <th>From</th>
    <th>To</th>
    <th>Arrives</th>
    <th>Duration</th>
    <th>Note</th>
    <th>Same Path</th>
  </tr>
  </thead>
  <tbody>
  <% @journey_links.each do |vj,tl,same_path, same_note, same_journey| %>
      <tr <%=  "class='tr-selected'" if same_journey %>>
        <!--- TODO: Internatialize Time -->
        <td><%= check_box_tag 'timing_links[]', "#{vj.id},#{tl.id}", same_path,
                    :class => "#{same_path ? 'same' : ''} #{same_note ? 'note' : ''} #{same_journey ? 'one' : ''} all" %>
          &nbsp;<%= link_to to_vj.time_start_lit, master_deployment_network_vehicle_journey_journey_pattern_timing_link_path(@master, @deployment, @network, vj, tl) %></td>
        <td><%=  tl.position+1  %></td>
        <td><%=  vj.time_start_lit(tl.position) %></td>
        <td><%=  tl.from.common_name  %><br /> <%= tl.from.location.coordinates['LonLat'] %></td>
        <td><%=  tl.to.common_name  %><br /> <%= tl.to.location.coordinates['LonLat'] %></td>
        <td><%=  vj.time_end_lit(tl.position) %></td>
        <td><%=  tl.time %></td>
        <td><%=  vj.note %></td>
        <td><%=  same_path %></td>
      </tr>
  <% end %>
  </tbody>
</table>