<h2><%= link_to "Network #{@network.name}", master_deployment_network_path(@master, @deployment, @network) %></h2>
<%= render :partial => "form_edit" %>
<%= render :partial => "table_content" %>
<%= render :partial => "table_processing" %>

<P>
  <%= render :partial => "links" %>
</P>