<%= render :partial => "masters/municipalities/networks/vehicle_journeys/journey_pattern_timing_links/script" %>

<h1>Timing Link</h1>
<div>
    <div id="outer">
      <div id="navigation">
        <div id="fragment-route">
          <form id="route" name="route" action="#" onsubmit="return false;">
            <ul>
              <li>
                <div>
                  <span><%= @journey_pattern_timing_link.from.common_name %></span>
                </div>
              </li>
            </ul>
            <ul id="route_via" class="route_via">
            </ul>
            <ul>
              <li>
                <div>
                  <span><%= @journey_pattern_timing_link.to.common_name %></span>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div>
                  <img src="/assets/yours/markers/yellow.png" alt="marker to" height="30" style="vertical-align:middle;"/>
                  <input type="button" id="add_waypoint" value="Add Waypoint" tabindex="4" class="btn"/>
                  <input type="button" id="revert" value="Revert" class="btn"/>
                  <button id="autoroute" data-toggle="button" class="btn">Draw Lines</button>
                </div>
              </li>
            </ul>
          </form>

          <div id="status">
          </div>

          <%= form_for @journey_pattern_timing_link, :url =>
                 update_kml_master_municipality_network_vehicle_journey_journey_pattern_timing_link_path(
                         @master, @municipality, @network, @vehicle_journey,
                         @journey_pattern_timing_link
                 ),        :remote => true do %>
          <div id="copybox">
            <input id="copybox_field" name="journey_pattern_timing_link[kml]" type="text"/>
          </div>
              <%= submit_tag("Update JPTL Route", :class => "btn") %>
          <% end %>
        </div>
      </div>
      <div id="extra">

      </div>
    </div>
  <div id="content">
    <div id="map"></div>
  </div>

</div>


<table class="table table-striped">
  <tr>
    <th>Position</th>
    <th>Departs</th>
    <th>From</th>
    <th>To</th>
    <th>Arrives</th>
    <th>Duration</th>
  </tr>
  <% @journey_pattern_timing_link.tap do |tl| %>
      <tr>
        <!--- TODO: Internatialize Time -->
        <td><%=  tl.position+1  %></td>
        <td><%=  @vehicle_journey.time_start(tl.position).strftime("%H:%M") %></td>
        <td><%=  tl.from.common_name  %><br /> <%= tl.from.location.coordinates['LonLat'] %></td>
        <td><%=  tl.to.common_name  %><br /> <%= tl.to.location.coordinates['LonLat'] %></td>
        <td><%=  @vehicle_journey.time_end(tl.position).strftime("%H:%M") %></td>
        <td><%=  tl.time %></td>
      </tr>
  <% end %>
</table>