<%= render :partial => "masters/municipalities/networks/vehicle_journeys/journey_pattern_timing_links/script" %>

<h1>Journey Pattern Timing Link Path Editor</h1>
<%= @service.name %>&nbsp;Journey Starting at <%= @vehicle_journey.time_start(0).strftime("%H:%M") %>&nbsp;Link <%= @journey_pattern_timing_link.position %>

  <div>
    <div class="row">
        <div id="navigation" class="left">
          <form id="route" name="route" action="#" onsubmit="return false;">
            <ul>
              <li>
                <div>
                  <span><%= @journey_pattern_timing_link.from.common_name %></span>
                </div>
              </li>
            </ul>
            <ul id="route_via" class="route_via">
            </ul>
            <ul>
              <li>
                <div>
                  <span><%= @journey_pattern_timing_link.to.common_name %></span>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div>
                  <img src="/assets/yours/markers/yellow.png" alt="marker to" height="30" style="vertical-align:middle;"/>
                  <input type="button" id="add_waypoint" value="Add Waypoint" tabindex="4" class="btn"/>
                </div>
              </li>
              <li>
                <div>
                  <input type="button" id="revert" value="Revert" class="btn"/>
                  <button id="autoroute" class="btn">Draw Lines</button>
                  <button id="button_reroute" class="btn">
                   <i class="icon-refresh"></i></button>
                </div>
              </li>
            </ul>
          </form>
          <div id="statusbox"><span id="status">
          </span>
          <img id="route_waiting" src="/assets/yours/images/ajax-loader.gif" alt="waiting"/></div>
          <p></p>
          <div id="copybox">
            <input id="copybox_field" name="journey_pattern_timing_link[kml]" type="text"/>
          </div>
        </div>
      <div id="map" class="right"></div>
      <div style="clear:both"></div>
    </div>

  </div>

<div>
  <hr />
<h3>Vehicle Journeys in this Service with similar links</h3>

<%= form_tag update_timing_links_master_municipality_network_vehicle_journey_journey_pattern_timing_link_path(@master,@municipality,@network,@vehicle_journey,@journey_pattern_timing_link, :format => "js"), :id => "form_update_jptls", :remote => true do %>

    <div class="dropdown btn" id="menu1">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
        Check
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#" id="menu_select_same">All Same Path</a>
        </li>
        <li>
          <a href="#" id="menu_select_one">This one only</a>
        </li>
        <li>
          <a href="#" id="menu_select_all">All</a>
        </li>
        <li>
          <a href="#" id="menu_select_note">All Same Note</a>
        </li>
      </ul>
    </div>
    <%= submit_tag "Update JPTLS", :class => "btn" %>
    <%= hidden_field_tag "kml", "", :id => "jptls_kml" %>
    <span id="update_status"></span>
    <img id="update_waiting" src="/assets/yours/images/ajax-loader.gif" alt="waiting"/>
    <div id="table_jptls">
      <%=  render :partial => "masters/municipalities/networks/vehicle_journeys/journey_pattern_timing_links/table_jptls" %>
    </div>
<% end %>
</div>