<h3>Users for <%= @master.name %></h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Roles</th>
  </tr>
  </thead>
  <tbody>
  <% for u in @users do %>
    <tr>
      <td><%= u.name %></td>
      <td><%= u.email %></td>
      <td><%= u.role_symbols.inspect %></td>
      <td><%= link_to( "Edit", edit_master_user_path(u, :master_id => @master.id), :class=>"btn") if muni_admin_can?(:edit, u) %></td>
      <td><%= button_to( "Delete", destroy_confirm_master_user_path(u, :master_id => @master.id), :class=>"btn") if muni_admin_can?(:delete, u) %></td>
    </tr>
  <% end %>

  </tbody>
</table>
<%= link_to("Create New User", new_master_user_path(:master_id => @master.id)) if muni_admin_can?(:create, MuniAdmin) %>