
<%= form_for muni_admin, :url => master_muni_admin_path(@master, muni_admin), :remote => true do |form| %>
    <%= hidden_field_tag "alt", alt %>
    <div <%= "class= 'row-fluid #{alt ? "alt" : ""}'" %> >
      <div class="span2"><%= link_to muni_admin.name, edit_master_muni_admin_path(@master, muni_admin) %></div>
      <div class="span2"><%= link_to muni_admin.email, edit_master_muni_admin_path(@master, muni_admin) %></div>
      <% for role in @roles do %>
          <div class="span1">
            <%= check_box_tag "muni_admin[role_symbols][]", role, muni_admin.has_role?(role),
                              :disabled => current_muni_admin == muni_admin || muni_admin_cannot?(:edit, muni_admin),
                              :class => "role_checkbox" %>
          </div>
      <% end %>
      <div class="span2">
        <% for muni in muni_admin.deployments do %>
          <%= link_to muni.name, master_deployment_path(@master, muni) %>
        <% end %>
      </div>
      <% if muni_admin_can? :manage, muni_admin %>
        <div class="span1"><%= link_to "Password", edit_password_path(muni_admin),
                                       "data-partial" => "passwords/modal",
                                       "data-id" => muni_admin.id,
                                       "data-type" => "MuniAdmin",
                                       :class => "password-link btn btn-mini" %></div>
      <% else %>
        <div class="span1">&nbsp;</div>
      <% end %>
      <% if muni_admin_can?(:delete, muni_admin) %>
        <div class="span1"><%= button_to 'Destroy', master_muni_admin_path(@master, muni_admin),
                                       :confirm => 'Are you sure?',
                                       :remote => true,
                                       :method => :delete,
                                       :class => "btn btn-mini" %></div>
      <% else %>
        <div class="span1">&nbsp;</div>
      <% end %>
    </div>
<% end %>