<h2>Delete Administrator</h2>
<p>
  You want to delete <%= @muni_admin.name %> = <%= @muni_admin.email %>, but the administrator owns the following
  deployments.
</p>
<% for d in @deployments do %>
    <%= link_to d.name, master_deployment_path(@master, d) %><br />
<% end %>
<p>
  You will take ownership of these deployments.
</p>
<%= link_to "Delete", master_muni_admin_path(@master, @muni_admin, :confirmed => "#{current_muni_admin.id}"), :method => "delete" %>
<%= link_to "Cancel", master_muni_admins_path(@master) %>