<h3>Edit User for <%= @master.name %></h3>


<%= form_for(@muni_admin, :url => master_muni_admin_path(@muni_admin, :master_id => @master), :html => { :method => :put }) do |f| %>
    <%= error_messages!(@muni_admin) %>

    <div><%= f.label :email %>
      <br/>
      <%= f.email_field :email %></div>
    <div>
      <% for r in @muni_admin.possible_roles do %>
      <div>
        <%= f.label "roles_"+r.to_s, r.to_s.humanize %>
        <%= check_box_tag "muni_admin[roles][]", r, @muni_admin.has_role?(r) %>
      </div>
      <% end %>
    </div>
    <%= f.hidden_field :master_id, :value => @master.id %>
    <div><%= f.submit "Update" %></div>
<% end %>
