<h3>Administrators for <%= @master.name %></h3>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Roles</th>
  </tr>
  <% for u in @muni_admins do %>
    <tr>
      <td><%= u.name %></td>
      <td><%= u.email %></td>
      <td><%= u.role_symbols.inspect %></td>
      <td><%= link_to( "Edit", edit_master_muni_admin_path(u, :master_id => @master.id)) if muni_admin_can?(:edit, u) %></td>
      <td><%= button_to( "Delete", destroy_confirm_master_muni_admin_path(u, :master_id => @master.id)) if muni_admin_can?(:delete, u) %></td>
    </tr>
  <% end %>
</table>
<%= link_to("Create New Administrator", new_master_muni_admin_path(:master_id => @master.id)) if muni_admin_can?(:create, MuniAdmin) %>