<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= "Busme #{@master.name}" %></title>
  <%= stylesheet_link_tag    "normal-layout", :media => "all", :debug => true %>
  <%= javascript_include_tag "normal-layout", :debug => true  %>
  <%= conditional_stylesheet_link_tag "#{controller_path}" %>
  <%= conditional_javascript_include_tag "#{controller_path}" %>
  <%= conditional_stylesheet_link_tag "#{controller_path}/#{@render_action || params[:action]}" %>
  <%= conditional_javascript_include_tag "#{controller_path}/#{@render_action || params[:action]}" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      // This displays the flash messages.
      $(function() {
          <%- flash.each do |name, msg| -%>
          <%= "setFlash('#{name}', '#{msg}');"  %>
          <%- end -%>
          // Set the click on the buttons to clear the flash message
          $("#notices .alert").on("click", ".close", function() {
              clearFlash();
          })
      }) ;
  </script>
  <%=  yield :head %>
</head>
<body class="<%= params[:controller] %>">
<div id="ui-layout-container">
    <div class="ui-layout-north">
      <header>
        <nav>
          <ul class="hmenu">
            <%= render 'shared/masters/user_navigation' %>
          </ul>
        </nav>
          <div id="notices">
            <!-- We need this because it is used to calculate the height
              -- of the flash window to set the North Layout to the size
              -- when an actual flash message does appear after the DOM is set..
              -->
            <div id='flash_inert' class='alert'>&nbsp;</div>
          </div>
        <div id="application-header"><%= link_to "Busme #{@master.name}", master_active_path(@master) %></div>
      </header>
    </div>
    <div class="ui-layout-west">
      <%= yield :left %>
    </div>
    <div class="ui-layout-center">
      <%= yield %>
    </div>
    <div class="ui-layout-south">
      <%= yield :bottom %>
      <div>(C) 2009-2012. All Rights Reserved by Adiron, LLC</div>
    </div>
</div>
    <%
       # Twitter Bootstrap and Layout Center do not play well together
       # Twitter needs modals within "container" class outside of the "ui-layout-center". %>
    <div id="container"  class="container">
      <%= yield :modals %>
      <div id="modals" >
      </div>
    </div>
</body>
</html>