<h1>Busme Administration</h1>
<p>
  This is the portal for the administration of the Busme general site.
</p>

<h2>Customer Sites</h2>
<p>
<%= render :partial => "admin/websites_admin_link" %>
</p>
<h2>Busme Pages</h2>
<p><%= render :partial => "admin/pages_admin_link" %></p>

<h2>Customers</h2>
<p><%= render :partial => "admin/customers_admin_link" %></p>

<h2>Feedback</h2>
<p><%= render :partial => "admin/feedbacks_admin_link" %></p>

<h2>Page Errors</h2>
<p><%= render :partial => "admin/page_errors_admin_link" %></p>