<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Webmap for Busme</title>
  <%= stylesheet_link_tag "normal-layout", :media => "all", :debug => true %>
  <%= javascript_include_tag "normal-layout", :debug => true %>
  <%= stylesheet_link_tag "webmap" %>
  <%= javascript_include_tag "webmap" %>
  <%= stylesheet_link_tag "#{controller_path}" %>
  <%= javascript_include_tag "#{controller_path}" %>
  <%= stylesheet_link_tag "#{controller_path}/#{@render_action || params[:action]}" %>
  <%= javascript_include_tag "#{controller_path}/#{@render_action || params[:action]}" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      // This displays the flash messages.
      $(function() {
          <%- flash.each do |name, msg| -%>
          <%= "setFlash('#{name}', '#{msg}');"  %>
          <%- end -%>
          // Set the click on the buttons to clear the flash message
          $("#notices .alert").on("click", ".close", function() {
              clearFlash();
          })
      }) ;
  </script>
  <%= yield :head %>
</head>
<body class="<%= params[:controller] %>">
    <div class="ui-layout-north">
      <header>
        <nav>
          <%= render 'shared/customer_navigation' %>
        </nav>
        <div id="notices">
          <!-- We need this because it is used to calculate the height
          -- of the flash window to set the North Layout to the size
          -- when an actual flash message does appear after the DOM is set..
          -->
          <div id='flash_inert' class='alert'>&nbsp;</div>
        </div>
        <div id="application-header">Busme US</div>
      </header>
    </div>
    <div class="ui-layout-west">
      <%= yield :left %>
    </div>
    <div class="ui-layout-center">
      <%= yield %>
    </div>
    <div class="ui-layout-south">
      <%= yield :bottom %>
      <span class="pull-left">(C) 2009-2012. All Rights Reserved by Adiron, LLC</span>
      <span class="pull-right">Thanks to <a href="http://openstreetmap.org">Open Street Maps</a></span>
    </div>
    <%
       # Twitter Bootstrap and Layout Center do not play well together
       # Twitter needs modals within "container" class outside of the "ui-layout-center". %>
    <div id="container"  class="container">
      <%= yield :modals %>
      <div id="modals" >
      </div>
    </div>
    <script id="IntercomSettingsScriptTag">
        var intercomSettings = {
            app_id:'i6xnzxqx',
            email:'polar@adiron.com', // TODO: User's e-mail address
            created_at:1353261241 // TODO: User's sign-up date, Unix timestamp
        };
    </script>
    <script>
        (function () {
            var i = function () {
                i.c(arguments)
            };
            i.q = [];
            i.c = function (args) {
                i.q.push(args)
            };
            window.Intercom = i;
            function async_load() {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'https://api.intercom.io/api/js/library.js';
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
            }

            if (window.attachEvent) {
                window.attachEvent('onload', async_load);
            } else {
                window.addEventListener('load', async_load, false);
            }
        })();
    </script>
</body>
</html>
