<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Webmap for Busme</title>
  <%= stylesheet_link_tag "normal-layout", :media => "all", :debug => true %>
  <%= javascript_include_tag "normal-layout", :debug => true %>
  <%= stylesheet_link_tag "webmap" %>
  <%= javascript_include_tag "webmap" %>
  <%= stylesheet_link_tag "#{controller_path}" %>
  <%= javascript_include_tag "#{controller_path}" %>
  <%= stylesheet_link_tag "#{controller_path}/#{@render_action || params[:action]}" %>
  <%= javascript_include_tag "#{controller_path}/#{@render_action || params[:action]}" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(function() {
          <%- flash.each do |name, msg| -%>
          <%= "setFlash('#{name}', '#{msg}');"  %>
          <%- end -%>
      }) ;
  </script>
  <%= yield :head %>
</head>
<body class="<%= params[:controller] %>">
    <div class="ui-layout-north">
      <header>
        <nav>
          <ul class="hmenu">
            <%= render 'shared/customer_navigation' %>
          </ul>
          <div id="application-header">Busme <%= @master ? @master.name : "US" %></div>
        </nav>
        <div id="notices">
        </div>
      </header>
    </div>
    <div class="ui-layout-west">
      <%= yield :left %>
    </div>
    <div class="ui-layout-center">
      <%= yield %>
    </div>
    <div class="ui-layout-south">
      <%= yield :bottom %>
    </div>
    <%
       # Twitter Bootstrap and Layout Center do not play well together
       # Twitter needs modals within "container" class outside of the "ui-layout-center". %>
    <div id="container"  class="container">
      <%= yield :modals %>
      <div id="modals" >
      </div>
    </div>
</body>
</html>
