<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busme US</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "normal-layout", :media => "all", :debug => true %>
  <%= javascript_include_tag "normal-layout", :debug => true  %>
  <%= stylesheet_link_tag "#{controller_path}" %>
  <%= javascript_include_tag "#{controller_path}" %>
  <%= stylesheet_link_tag "#{controller_path}/#{@render_action || params[:action]}" %>
  <%= javascript_include_tag "#{controller_path}/#{@render_action || params[:action]}" %>
  <%= csrf_meta_tags %>
  <%=  yield :head %>
  <script type="text/javascript">
      // This displays the flash messages.
      $(function() {
          <%- flash.each do |name, msg| -%>
          <%= "setFlash('#{name}', '#{msg}');"  %>
          <%- end -%>
          // Set the click on the buttons to clear the flash message
          $("#notices .alert").on("click", ".close", function() {
              clearFlash();
          })
      }) ;
  </script>

  <script id="IntercomSettingsScriptTag">
      // This is picked up by Intercom Intergration in normal-layout.js
      var intercomSettings = {
          app_id:'i6xnzxqx',
          name:<%= current_customer ? "'#{current_customer.name}'" : "'Joe Guest'" %>,
          user_id: <%= current_customer ? "'Customer_#{current_customer.id}'" : "'Customer Joe Guest'" %>,
          email: <%= current_customer ? "'#{current_customer.email}'" : "'guest@adiron.com'" %>,
          created_at: <%= current_customer ? "#{current_customer.created_at.to_i}" : Time.now.to_i %>
      };
  </script>

</head>
<body class="<%= params[:controller] %>">
<div id="ui-layout-container">
    <div class="ui-layout-north">
      <header>
        <nav>
            <%= render 'shared/customer_navigation' %>
        </nav>
        <div id="notices">
          <!-- We need this because it is used to calculate the height
          -- of the flash window to set the North Layout to the size
          -- when an actual flash message does appear after the DOM is set..
          -->
          <div id='flash_inert' class='alert'>&nbsp;</div>
        </div>
        <div id="application-header">Busme US</div>
      </header>
    </div>
    <div class="ui-layout-west">
      <%= yield :left %>
    </div>
    <div class="ui-layout-center">
        <%= yield %>
    </div>
    <div class="ui-layout-south">
      <span class="pull-left">(C) 2009-2012. All Rights Reserved by Adiron, LLC</span>

      <div class="feedback">
        <%= link_to "Feedback", "#FeedbackModal", :class => "btn feedback-btn", :data => { :toggle => "modal" } %>
      </div>
    </div>
</div>
    <%
       # Twitter Bootstrap and Layout Center do not play well together
       # Twitter needs modals within "container" class outside of the "ui-layout-center".
    %>
    <div id="container" class="container">
      <%= yield :modals %>
      <%= render :partial => "shared/feedback_modal" %>
      <div id="modals">
      </div>
    </div>

</body>
</html>