<h2><%= link_to "Network #{@network.name}", network_path(@network, :muni => @muni.slug) %></h2>
<H2>Routes</H2>
<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Services</th>
    <th>Vehicle Journeys</th>
  </tr>
  <% for r in @routes do %>
    <tr>
      <td><%=  r.code %></td>
      <td><%=  r.name  %></td>
      <td><%=  r.description %></td>
      <td><%=  r.services.count %></td>
      <td><%=  r.vehicle_journey_count %></td>
    </tr>
  <% end %>
</table>