
<% if @services.count == 0 %>
    <p>
      There are no routes established for this network yet. You must plan the network.
      <%=  link_to "Plan", master_municipality_network_plan_path(@master, @municipality, @network) %>
    </p>
<% else %>

  <% for s in @services do %>
    <h3><%= link_to "Service #{s.name}", master_municipality_network_service_path(@master, @municipality, @network, s)  %></h3>
    <table class="table table-striped">
      <tr>
        <th>Route</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Vehicle Journeys</th>
      </tr>
      <tr>
        <td><%=  link_to s.route.code, master_municipality_network_route_path(@master, @municipality, @network, @route)  %></td>
        <!--- TODO: Internatialize Time -->
        <td><%=  s.operating_period_start_date.strftime("%m-%d-%Y") %></td>
        <td><%=  s.operating_period_end_date.strftime("%m-%d-%Y") %></td>
        <td><%=  s.vehicle_journeys.count %></td>
        <td><%= link_to "Map", map_master_municipality_network_route_path(@master, @municipality, @network, @route) %></td>
      </tr>
    </table>
    <h4>Vehicle Journeys on this Service and Route</h4>
    <table class="table table-striped">
      <tr>
        <th>Route</th>
        <th>Display Name</th>
        <th>Direction</th>
        <th>Departs</th>
        <th>Ends</th>
        <th>Links</th>
      </tr>
      <% for vj in s.vehicle_journeys do %>
          <tr>
            <td><%=  link_to vj.route.code, master_municipality_network_route_path(@master, @municipality, @network, @route)  %></td>
            <td><%=  link_to vj.display_name, master_municipality_network_vehicle_journey_path(@master, @municipality, @network, vj)  %></td>
            <td><%=  s.direction  %></td>
            <!--- TODO: Internatialize Time -->
            <td><%=  vj.time_start.strftime("%H:%M") %></td>
            <td><%=  vj.time_end.strftime("%H:%M") %></td>
            <td><%=  vj.journey_pattern_timing_links.count %></td>
          </tr>
      <% end %>
    </table>
  <% end %>
<% end %>