<% if @routes.count == 0 %>
    <p>
      There are no routes established for this network yet. You must plan the network
     </p>

     <p>.
      <%=  link_to "Plan Network", master_municipality_network_plan_path(@master, @municipality, @network), :class => "btn" %>
    </p>
<% else %>
    <table>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Services</th>
        <th>Vehicle Journeys</th>
      </tr>
      <% for r in @routes do %>
          <tr>
            <td><%=  link_to r.code, master_municipality_network_route_path(@master, @municipality, @network, r) %></td>
            <td><%=  link_to r.name, master_municipality_network_route_path(@master, @municipality, @network, r) %></td>
            <td><%=  r.description %></td>
            <td><%=  r.services.count %></td>
            <td><%=  r.vehicle_journey_count %></td>
          </tr>
      <% end %>
    </table>
<% end %>