
<% if @master.deployment %>
    <p>
      <%= link_to "View", deployment_path(@master.deployment) %>
    </p>
<% end %>
<% if @master.testament %>
    <p>
      <%= link_to "View Testing Deployment", testament_path(@master.testament) %>
    </p>
<% end %>
<% if muni_admin_can?(:manage, @master) %>
    <p>
      <%= link_to "Plan #{@master.name}", master_municipalities_path(@master) %>
    </p>
<% end %>
<% if customer_can?(:edit, @master) || muni_admin_can?(:edit, @master)  %>
    <p>
      <%= link_to("Edit Information", edit_master_path(@master), :class => "btn") %>
    </p>
<% end %>
<p>
  <%= link_to "Deployments", master_municipalities_path(@master), :class => "btn" %>
</p>
<% if customer_can?(:index, Master) || muni_admin_can?(:index, Master)  %>
<p>
  <%= link_to "All Municipalities", masters_path(), :class => "btn" %>
</p>
<% end %>
<p>
<%= link_to "Go to Active User Site", deployment_master_path(@master) if Deployment.where(:master_id => @master.id).first %>
<%= link_to "Go to Test Site", testament_master_path(@master) if Testament.where(:master_id => @master.id).first %>
</p>