
<table class="table table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>Deployment</th>
    <th>Owner</th>
    <th>Status</th>
    <th colspan="2">Operations</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th><%=  link_to "Active Deployment", master_activement_path(@master) %></th>
    <% if @master.activement %>
        <td><%= link_to @master.activement.deployment.name, master_deployment_path(@master, @master.activement.deployment) %></td>
        <td><%= @master.activement.deployment.owner.name %></td>
        <td><%= @master.activement.status %></td>
        <td><%= link_to "Manage", master_activement_path(@master), :class=>"btn" %></td>
        <td><%= button_to "Deactivate", deactivate_master_activement_path(@master), :method => :post, :class=>"btn" %></td>
    <% else %>
        <td colspan="6">None Active</td>
    <% end %>
  </tr>
  <tr>
    <th> <%= link_to "Testing Deployment", master_testament_path(@master) %></th>
    <% if @master.testament %>
        <td><%= link_to @master.testament.deployment.name, master_deployment_path(@master, @master.testament.deployment) %></td>
        <td><%= @master.testament.deployment.owner.name %></td>
        <td><%= @master.testament.status %></td>
        <td><%= link_to "Manage", master_testament_path(@master), :class=>"btn" %></td>
        <td><%= link_to "Deactivate", deactivate_master_testament_path(@master), :method => :post, :class=>"btn" %></td>
    <% else %>
        <td colspan="6">None Active</td>
    <% end %>
  </tr>
  </tbody>
</table>