
<%=  render :partial => "masters/deployments/networks/plan/poll" %>


<h2>Network Plan</h2>
<%=  render :partial => "masters/deployments/networks/plan/table_counts" %>
<%=  render :partial => "masters/deployments/networks/plan/plan_status" %>
<h2>Processing Status</h2>
<%=  render :partial => "masters/deployments/networks/plan/table_status" %>
<%=  render :partial => "masters/deployments/networks/plan/button_upload" %>
<%=  render :partial => "masters/deployments/networks/plan/button_abort" %>

<%= render :partial => "masters/deployments/networks/plan/processing_log" %>
<%= render :partial => "masters/deployments/networks/plan/processing_errors" %>
