<h1>Edit Administrator Account</h1>

<p>You are currently signed in using:
<p/>
<%= render :partial => 'masters/muni_admin_registrations/current_authentication' %>
<br/>
<%= render :partial => 'masters/muni_admin_registrations/current_roles' %>
<%= render :partial => 'masters/muni_admin_registrations/other_authentications' %>
<br/>
<br/>

<p>Edit your account information:<p/>


<%= render :partial => 'masters/muni_admin_registrations/form_registration' %>


<%= render :partial => 'masters/muni_admin_registrations/alternate_authentications' %>