<h1>Edit Busme.us Customer Account</h1>

<p>You are currently signed in using:
<p/>
<%= render :partial => 'customer_registrations/current_authentication' %>
<br /><p></p>
<%= render :partial => 'customer_registrations/current_roles' %>
<%= render :partial => 'customer_registrations/other_authentications' %>
<br/>

<p>Edit your account information:<p/>


<%= render :partial => 'customer_registrations/form_registration' %>


<%= render :partial => 'customer_registrations/provider_link_list' %>