<script type="text/javascript">

    $.CMS.enable_page_save_widget = function () {
        $('#page_save input#is_published').attr('checked', $('input#page_is_published').is(':checked'));
        $('#page_save input#is_protected').attr('checked', $('input#page_is_protected').is(':checked'));
        $('#page_save button').html($('input#cms_page_submit').val());

        $('#page_save input').bind('click', function () {
            $('input#page_is_published').attr('checked', $(this).is(':checked'));
            $('input#page_is_protected').attr('checked', $(this).is(':checked'));
        })
        $('input#page_is_published').bind('click', function () {
            $('#page_save input#is_published').attr('checked', $(this).is(':checked'));
        })
        $('input#page_is_protected').bind('click', function () {
            $('#page_save input#is_protected').attr('checked', $(this).is(':checked'));
        })
        $('#page_save button').bind('click', function () {
            $('input#cms_page_submit').click();
        })
    }

</script>
<% content_for :right_column do %>
  <div id='page_save' class='box'>
        <label>
          <input id="is_published" type='checkbox' disabled='<%= @page.is_protected ? "disabled" : "false" %>'/>
          <%= Cms::Page.human_attribute_name(:is_published) %>
        </label>
        <label>
          <input id="is_protected" type='checkbox' disabled='<%= @page.is_protected || !(customer_can?(:edit, @page) || muni_admin_can?(:edit, @page))? "disabled" : "false" %>'/>
          <%= Cms::Page.human_attribute_name(:is_protected) %>
        </label>
    <button></button>
  </div>
  <%= render :partial => 'cms_admin/files/index' %>
<% end %>

<%= form.text_field :label, :id => (@page.new_record?? 'slugify' : nil) %>
<%
   # BUSPASS: We changed the following to disable slug and parent pages if the page is protected.
%>
<div class='page_form_extras'>
  <% unless @site.pages.count == 0 || @site.pages.roots.first == @page  %>
    <%= form.text_field :slug, { :id => 'slug', :disabled => @page.is_protected } %>
  <% end %>
  <% if (options = Cms::Layout.options_for_select(@site)).present? %>
    <%= form.select :layout_id, options, {}, 'data-url' => form_blocks_cms_admin_site_page_path(@page.id, :site_id => @site.id) unless @page.new_record?%>
  <% end %>
  <% if (options = Cms::Page.options_for_select(@site, @page)).present? %>
    <%= form.select :parent_id, options, {}, {:disabled => @page.is_protected} %>
  <% end %>
  <% if (options = Cms::Page.options_for_select(@site, @page, nil, 0, false)).present? %>
    <%= form.select :target_page_id, [["---- #{t('.select_target_page')} ----", nil]] + options %>
  <% end %>
  <%= form.text_field :controller_path, { :id => 'controller_path' } %>
  <%= form.text_field :error_status, { :id => 'error_status' } %>
  <%= cms_hook :page_form, :object => form %>
  <%= render :partial => 'cms_admin/categories/form', :object => form %>
</div>

<%= render :partial => 'form_blocks' %>

<%= form.simple_field nil, nil, :class => 'submit_element' do %>
    <%= form.check_box :is_published, :disable_builder => true, :disabled => @page.is_protected %>
    <%= form.label_for :is_published %>
    <%= form.check_box :is_protected, :disable_builder => true, :disabled => @page.is_protected %>
    <%= form.label_for :is_protected %>
  <%= form.submit t('.preview'), :name => 'preview', :id => nil, :disable_builder => true %>
  <%= form.submit t(@page.new_record?? '.create' : '.update'), :id => 'cms_page_submit', :disable_builder => true %>
<% end %>