<h2><%= link_to @network.name, master_municipality_network_path(@master, @municipality, @network) %></h2>
<h3><%= link_to "Route #{@vehicle_journey.route.name}",
                master_municipality_network_route_path(@master, @municipality, @network, @vehicle_journey.route) %></h3>

<h3><%= link_to "Service #{@service.name}", master_municipality_network_service_path(@master, @municipality, @network, @service) %></h3>
<%= render :partial => "table_service" %>
<%= render :partial => "table_vehicle_journey" %>

<h4>Timing Links on this Vehicle Journey</h4>
<%= render :partial => "table_timing_links" %>