<table class="table table-striped">
  <thead>
  <tr>
    <th>Position</th>
    <th>Departs</th>
    <th>From</th>
    <th>To</th>
    <th>Arrives</th>
    <th>Duration</th>
    <th></th>
  </tr>

  </thead>
  <tbody>
  <% for tl in @vehicle_journey.journey_pattern_timing_links do %>
      <tr>
        <!--- TODO: Internatialize Time -->
        <td><%=  tl.position+1  %></td>
        <td><%=  @vehicle_journey.time_start(tl.position).strftime("%H:%M") %></td>
        <td><%=  tl.from.common_name  %><br /> <%= tl.from.location.coordinates['LonLat'] %></td>
        <td><%=  tl.to.common_name  %><br /> <%= tl.to.location.coordinates['LonLat'] %></td>
        <td><%=  @vehicle_journey.time_end(tl.position).strftime("%H:%M") %></td>
        <td><%=  tl.time %></td>
        <td><%=  tl.path_issue %></td>
        <td><%=  link_to "Reroute", master_municipality_network_vehicle_journey_journey_pattern_timing_link_path(@master, @municipality, @network, @vehicle_journey, tl), :class => "btn" %></td>
      </tr>
  <% end %>

  </tbody>
</table>