<h2><%=  @master.name %></h2>
<h3>Delete Administrative User</h3>

<p>
You will be deleting Admin <%=  @muni_admin.email %></h3>

<p>
You, <%= current_muni_admin.email %>, will be come the owner of the following:

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Owner</th>
  </tr>
  <% @masters.each do |x| %>
  <tr>
    <td>Municipality</td>
    <td><%= x.name %></td>
    <td><%=  x.owner.email %></td>
  </tr>
  <% end %>
  <% @municipalities.each do |x| %>
      <tr>
        <td>Deployment</td>
        <td><%= x.name %></td>
        <td><%=  x.owner.email %></td>
      </tr>
  <% end %>
</table>
<p>
  <%= link_to "Delete Administrative User", master_muni_admin_path(@muni_admin, :master_id => @master.id), :class => "btn", :method => :delete %>
</p>