<h2><%= @master.name %> Administrative Users</h2>
<h3>Create New Administrator</h3>

<%= form_for(@muni_admin, :url => master_muni_admins_path(:master_id => @master.id)) do |f| %>
    <%= error_messages!(@muni_admin) %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :name %>
      <%= f.email_field :name %>
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
      <%= f.label :possible_roles, "Select Roles for this administrative user" %>
      <% for r in @muni_admin.possible_roles do %>
        <%= f.label "roles_"+r.to_s, r.to_s.humanize %>
        <%= check_box_tag "muni_admin[roles][]", r, @muni_admin.has_role?(r), :id => "muni_admin_roles_#{r}" %>
      <% end %>
    <%= f.hidden_field :master_id, :value => @master.id %>
    <%= f.label :nothing, "Email User about account?" %>
    <%= check_box_tag "email_user", "1" %>
    <p></p>
    <%= f.submit "Create Administrator", :class => "btn" %>

<% end %>
<%= link_to "Cancel",  master_muni_admins_path(:master_id => @master.id), :class => "btn", :method => :get %>
<p>
  <%= link_to "Administrative Users", master_muni_admins_path(:master_id => @master.id) %>
</p>
