<h3>Showing User for <%= @master.name %></h3>

<table>
  <tr>
    <th>Name</th>
    <td><%=  @muni_admin.name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%=  @muni_admin.email %></td>
  </tr>
  <tr>
    <th>Roles</th>
    <td>
      <% for r in @muni_admin.roles_list %>
          <%= r.to_s.humanize %>
      <% end %>
    </td>
  </tr>
</table>
<h3>Owns</h3>
<table>
  <% for m in @municipalities do %>
      <tr>
        <td>
          <%= link_to  m.name, master_municipality_path(m, :master_id => @master.id) %>
        </td>
      </tr>
  <% end %>
</table>