
<%= form_for customer, :remote => true do |form| %>
    <div class="row-fluid">
      <div class="span2"><%= link_to customer.name, edit_customer_path(customer) %></div>
      <div class="span2"><%= link_to customer.email, edit_customer_path(customer) %></div>
      <% for role in @roles do %>
          <div class="span1">
            <%= check_box_tag "customer[role_symbols][]", role, customer.has_role?(role) %>
          </div>
      <% end %>
      <div class="span3"><%= customer.masters.map {|m| link_to m.name, master_path(m) }.join(" ") %></div>
      <div class="span1"><%= link_to "Reset Password", edit_password_path(customer), :class => "btn" %></div>
      <div class="span1"><%= button_to 'Destroy', customer, :confirm => 'Are you sure?', :remote => true, :method => :delete, :class => "btn" %></div>
    </div>
<% end %>