<% if @network_copies.length > 0 %>
    <% content_for :head do %>
      <%= render :partial => "poll" %>
    <% end %>
    <table class="table table-bordered">
      <thead>
      <th>Deployment</th>
      <th>Name</th>
      <th>Start Time</th>
      <th>Progress</th>
      <th>Complete Time</th>
      </thead>
      <tbody>
      <% for network in @network_copies %>
          <tr <%= "id='network_#{network.id}_status'" %> >
            <td>
              <%= network.municipality.name %>
            </td>
            <td>
              <%= network.name %>
            </td>
            <td>
              <div class="started_at">
                <%= network.copy_completed_at ?
                      network.copy_completed_at.strftime("%m-%d-%Y %H:%M %Z"):
                      network.copy_lock ? "Pending" : "Never"  %>
              </div>
            </td>
            <td>
              <div class="copy_progress">
                <%= (network.copy_progress * 100).floor %>%
              </div>
            </td>
            <td>
              <div class="completed_at">
                <%= network.copy_completed_at ?
                      network.copy_completed_at.strftime("%m-%d-%Y %H:%M %Z"):
                      "" %>
              </div>
            </td>
          </tr>
          <tr <%= "id='network_#{network.id}_log'  style='display: none'" %> >
            <td colspan="5">
              <div class="copy_log" >
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>