
<table class="table table-bordered">
  <tr>
    <th>Network</th>
    <th>Description</th>
    <th>Routes</th>
    <th>Services</th>
    <th>Journeys</th>
    <th>Navigation</th>
  </tr>
  <% for n in @networks do %>
      <tr>
        <td><%= link_to n.name, master_municipality_network_path(@master, @municipality, n) %></td>
        <td><%= n.description %></td>
        <td><%= n.route_count %></td>
        <td><%= n.service_count %></td>
        <td><%= n.vehicle_journey_count %></td>
        <td><%= link_to("Edit", edit_master_municipality_network_path(@master, @municipality, n), :class => "btn") if muni_admin_can?(:edit, n)%>
        <%= link_to("Explore", master_municipality_network_path(@master, @municipality, n), :class => "btn") if muni_admin_can?(:read, n)%>
        <%= link_to("Plan", master_municipality_network_plan_path(@master, @municipality, n), :class => "btn") if muni_admin_can?(:edit, n) %>
        <%= link_to("Delete", master_municipality_network_path(@master, @municipality, n), :class => "btn", :method => :delete, :confirm => "Are you sure?") if muni_admin_can?(:delete, n) %></td>
      </tr>
  <% end %>
</table>