<% if @routes.count == 0 %>
    <p>
      There are no routes established for this network yet. You must plan the network
     </p>

     <p>.
      <%=  link_to "Plan Network", master_municipality_network_plan_path(@master, @municipality, @network), :class => "btn" %>
    </p>
<% else %>
    <table class="table table-striped">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Services</th>
      </tr>
      <% for r in @routes do %>
          <tr>
            <td class="route_code"><%=  link_to r.code, master_municipality_network_route_path(@master, @municipality, @network, r) %></td>
            <td><%=  link_to r.name, master_municipality_network_route_path(@master, @municipality, @network, r) %></td>
            <td><%=  r.description %></td>
            <td>
              <% for s in r.services do %>
                <%=  link_to s.name.gsub(" ", "_"), master_municipality_network_service_path(@master, @municipality, @network, s) %>
              <% end %>
            </td>
            <td><%= link_to "Map", map_master_municipality_network_route_path(@master, @municipality, @network, r) %></td>
          </tr>
      <% end %>
    </table>
<% end %>