<h2>Creating a New Network</h2>

<%= form_for @network, :url => master_municipality_networks_path(:master_id => @master.id, :municipality_id => @municipality.id) do |f| %>
    <%= render "shared/masters/error_messages", :target => @network %>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description, "Description" %>
      <%= f.text_field :description %>
    </p>
    <p><%= f.submit %></p>
<% end %>