<h2>Network</h2>
<%= error_messages!(@new_network) if @new_network %>
<table>
  <tr>
    <th>Name</th>
    <td><%= link_to "#{@network.name}", master_municipality_network_path(@network, :master_id => @master.id, :municipality_id => @municipality.id) %></td>
  </tr>
  <tr>
    <th>Mode</th>
    <td><%=  @network.mode %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%=  @network.description %></td>
  </tr>
</table>
<h3>Content</h3>
<table>
  <tr>
    <th><%= link_to "Services", master_municipality_network_services_path(:master_id => @master.id, :municipality_id => @municipality.id, :network_id => @network.id) %></th>
    <td><%= @network.services.count %></td>
  </tr>
  <tr>
    <th><%= link_to "Routes", master_municipality_network_routes_path(:master_id => @master.id, :municipality_id => @municipality.id, :network_id => @network.id) %></th>
    <td><%=  @network.routes.count %></td>
  </tr>
  <tr>
    <th><%= link_to "Journeys", master_municipality_network_vehicle_journeys_path(:master_id => @master.id, :municipality_id => @municipality.id, :network_id => @network.id) %></th>
    <td><%=  @network.vehicle_journey_count %></td>
  </tr>
</table>

<% if @network.processing_lock %>
    <table>
      <tr>
        <th>Processor</th>
        <td><%=  @network.processing_lock.name %></td>
      </tr>
      <tr>
        <th>Progress</th>
        <td><%= (@network.processing_progress * 100).floor %></td>
      </tr>
    </table>
<% end %>
<hr />
<P>
  <%= link_to "Networks",  master_municipality_networks_path(:master_id => @master.id, :municipality_id => @municipality.id) %>
  <% if muni_admin_can? :edit, @network %>
    <%=  link_to "Plan Network", master_municipality_network_plan_path(:network_id => @network.id, :master_id => @master.id, :municipality_id => @municipality.id) %>
  <% end %>
  <%= button_to "Copy to Deployment", move_master_municipality_network_path(@network, :master_id => @master.id, :municipality_id => @municipality.id) %>
</P>