<h2><%= link_to "Network #{@network.name}", master_municipality_network_path(@network, :master_id => @master.id, :municipality_id => @municipality.id) %></h2>
<table>
  <tr>
    <th>Mode</th>
    <td><%=  @network.mode %></td>
  </tr>
  <tr>
    <th><%= link_to "Services", master_municipality_network_services_path(:master_id => @master.id, :municipality_id => @municipality.id, :network_id => @network.id) %></th>
    <td><%= @network.services.count %></td>
  </tr>
  <tr>
    <th><%= link_to "Routes", master_municipality_network_routes_path(:master_id => @master.id, :municipality_id => @municipality.id, :network_id => @network.id) %></th>
    <td><%=  @network.routes.count %></td>
  </tr>
  <tr>
    <th><%= link_to "Vehicle Journeys", master_municipality_network_vehicle_journeys_path(:master_id => @master.id, :municipality_id => @municipality.id, :network_id => @network.id) %></th>
    <td><%=  @network.vehicle_journey_count %></td>
  </tr>
</table>

<% if @network.processing_lock %>
    <table>
      <tr>
        <th>Processor</th>
        <td><%=  @network.processing_lock.name %></td>
      </tr>
      <tr>
        <th>Progress</th>
        <td><%= (@network.processing_progress * 100).floor %></td>
      </tr>
    </table>
<% end %>

<P>
  <%= link_to "All",  master_municipality_networks_path(:master_id => @master.id, :municipality_id => @municipality.id) %>
  <% if muni_admin_can? :edit, @network %>
    <%=  link_to "Plan Network", master_municipality_network_plan_path(:network_id => @network.id, :master_id => @master.id, :municipality_id => @municipality.id) %>
  <% end %>

</P>