<%= form_for @network,
             # Cannot use :network here, it's already taken'
             :as => @network_param_name,
             :url => master_municipality_network_plan_path(@master, @municipality, @network),
             :method => "put",
             :html => {:multipart => true} do |f| %>
    <p>
      <% error_messages!(@network) %>
      <%= f.label :upload_file, "Zip File" %>
      <%= f.file_field :upload_file %>
      <%= f.hidden_field :upload_file_cache %>
    </p>
    <p><%=  f.submit :class => "btn" %></p>
<% end %>