
<%= form_for(@municipality, :url => master_municipalities_path(@master), :validate => true) do |f| %>
    <%= error_messages!(@municipality) %>

    <div><%= f.label :name, "Internal Name" %>
      <%= f.text_field :name %></div>

    <div><%= f.label :note, "Note" %>
      <%= f.text_area :note %></div>

    <div><%= f.submit "Create", :class => "btn"  %></div>
<% end %>