<h3><%= @master.name %></h3>
<% if current_muni_admin %>
    <p><%= "Welcome #{current_muni_admin.name} in your roles of " %>
      <% for r in current_muni_admin.roles_list %>
         <%= r.to_s.humanize %>
      <% end %>
    </p>
<% end %>
<h3>Active Deployments</h3>
<%= render :partial => "masters/municipalities/table_active_deployments" %>
<h3>All Deployments</h3>
<%= render :partial => "masters/municipalities/table_index" %>
<p>
<%= render :partial => "masters/municipalities/link_new" %>