
<h2><%= link_to @master.name, master_path(@master)  %></h2>

<h3>Deployment</h3>
<%= render :partial => "masters/municipalities/table_info" %>

<p>
  <%= render :partial => "masters/municipalities/links" %>
</p>

<p>
  <%=  render :partial => "masters/municipalities/button_check_activate_status" %>
</p>
<%=  render :partial => "masters/municipalities/status_activate" %>
<%=  render :partial => "masters/municipalities/buttons_active" %>

<h3>Networks</h3>

<%= render :partial => "masters/municipalities/table_networks" %>