
<h2><%= link_to @master.name, master_path(@master)  %></h2>

<h3>Deployment</h3>
<%= render :partial => "table_info" %>

<p>
  <%= render :partial => "links" %>
</p>

<p>
  <%=  render :partial => "button_check_activate_status" %>
</p>
<%=  render :partial => "status_activate" %>
<%=  render :partial => "buttons_active" %>

<h3>Networks</h3>

<%= render :partial => "table_networks" %>