<% if @municipality.networks.count > 0 %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Routes</th>
        <th>Services</th>
        <th>Journeys</th>
        <th>Route Codes</th>
        <th colspan="5">Operations</th>
      </tr>

      </thead>
      <tbody>
      <% for n in @municipality.networks do %>
          <tr>
            <td><%= link_to "#{n.name}", master_municipality_network_path(@master, @municipality, n) %></td>
            <td><%= n.description %></td>
            <td><%= n.routes.count %></td>
            <td><%= n.services.count %></td>
            <td><%= n.vehicle_journey_count %></td>
            <td><%= n.route_codes.join(", ") %></td>
            <td><%= link_to("Explore", master_municipality_network_path(@master, @municipality, n), :class=>"btn") if muni_admin_can?(:read, n)%></td>
            <td><%= link_to("Edit", edit_master_municipality_network_path(@master, @municipality, n), :class=>"btn") if muni_admin_can?(:edit, n) %></td>
            <td><%= link_to("Plan", master_municipality_network_plan_path(@master, @municipality, n), :class=>"btn") if muni_admin_can?(:edit, n) %></td>
            <td><%= link_to("Copy to Deployment", copy_master_municipality_network_path(@master, @municipality, n), :class=>"btn") if muni_admin_can?(:edit, Municipality) %></td>
            <td><%= link_to("Delete", master_municipality_network_path(@master, @municipality, n), :class=>"btn", :method => :delete, :confirm => "Are you sure?") if muni_admin_can?(:delete, n) %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
<% end %>
