<h2>Edit Deployment</h2>

<%= form_for(@municipality, :url => master_municipality_path(:master_id => @master.id)) do |f| %>
    <%= error_messages!(@municipality) %>

      <%= f.label :name, "Internal Name" %>
      <%= f.text_field :name %>
      <%= f.label :mode, "Note" %>
      <%= f.text_area :mode %>

    <div><%= f.submit "Update", :class=>"btn"%></div>
<% end %>
