<h3><%= @master.name %> Deployments</h3>
<% if current_muni_admin %>
    <p><%= "Welcome #{current_muni_admin.name} in your roles of " %>
      <% for r in current_muni_admin.roles_list %>
         <%= r.to_s.humanize %>
      <% end %>
    </p>
<% end %>
<table>
  <tr>
    <th>Deployment</th>
    <th>Owner</th>
    <th>Mode</th>
  </tr>
<% @municipalities.each do |muni| %>
    <tr>
      <td><%= link_to muni.name, master_municipality_path(muni, :master_id => @master) %></td>
      <td><%= muni.owner.name %></td>
      <td><%=  muni.mode %></td>
    </tr>
<% end %>
</table>
<p>
<% if muni_admin_can?(:create, Municipality) %>
<%= link_to "New Deployment", new_master_municipality_path %>
<% end %>