<h2>New Deployment</h2>

<%= form_for(@municipality, :url => master_municipalities_path) do |f| %>
    <%= error_messages!(@municipality) %>

    <div><%= f.label :name, "Internal Name" %><br />
      <%= f.text_field :name %></div>
    <div><%= f.label :mode, "Note" %><br />
      <%= f.text_area :mode %></div>

    <div><%= f.submit "Create" %></div>
<% end %>
