<h2>Deployment</h2>
<% if current_muni_admin %>
    <p><%= "Welcome #{current_muni_admin.name}" %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <td><%= @municipality.name %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= to_location_str(@municipality.location) %></td>
  </tr>
  <tr>
    <th>Mode</th>
    <td><%= @municipality.mode %></td>
  </tr>
  <tr>
    <th>Owner</th>
    <td><%= @municipality.owner.name %></td>
  </tr>
</table>
<h3>Networks</h3>

<% if @municipality.networks.count > 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th>Routes</th>
        <th>Services</th>
        <th>Vehicle Journeys</th>
        <th>Route Codes</th>
      </tr>
      <% for n in @municipality.networks do %>
          <% n.master = @municipality.master; n.save! %>
          <tr>
            <td><%= link_to "#{n.name}", master_municipality_network_path(n, :master_id => @master.id, :municipality_id => @municipality.id) %></td>
            <td><%= n.routes.count %></td>
            <td><%= n.services.count %></td>
            <td><%= n.vehicle_journey_count %></td>
            <td><%= n.route_codes.join(", ") %></td>
            <td><%= link_to("Explore", master_municipality_network_path(n, :master_id => @master.id, :municipality_id => @municipality)) if muni_admin_can?(:edit, n)%></td>
            <td><%= link_to("Edit", edit_master_municipality_network_path(n,:master_id => @master.id, :municipality_id => @municipality.id)) if muni_admin_can?(:edit, n) %></td>
            <td><%= link_to("Plan", master_municipality_network_plan_path(n, :master_id => @master.id, :municipality_id => @municipality)) if muni_admin_can?(:edit, n) %></td>
            <td><%= button_to("Delete", master_municipality_network_path(n, :master_id => @master.id, :municipality_id => @municipality.id), :method => :delete, :confirm => "Are you sure?") if muni_admin_can?(:delete, n) %></td>
          </tr>
      <% end %>
    </table>
 <% end %>


<%= link_to "All", master_municipalities_path %>
<% if muni_admin_can?(:edit, @municipality) %>
   | <%= link_to("Edit Description", edit_master_municipality_path(@municipality, :master_id => @master.id)) %>
<% end %>


<% if muni_admin_can? :edit, @municipality %>
  | <%= link_to("Add Network", new_master_municipality_network_path(:master_id => @master, :municipality_id => @municipality)) %>
<% end %>