<h2>Deployment</h2>
<% if current_muni_admin %>
    <p><%= "Welcome #{current_muni_admin.name}" %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <td><%= @municipality.name %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= to_location_str(@municipality.location) %></td>
  </tr>
  <tr>
    <th>Mode</th>
    <td><%= @municipality.mode %></td>
  </tr>
  <tr>
    <th>Owner</th>
    <td><%= @municipality.owner.name %></td>
  </tr>
</table>

<p>
<%= link_to "Deployments", master_municipalities_path %>
<% if muni_admin_can?(:edit, @municipality) %>
    | <%= link_to("Edit Deployment", edit_master_municipality_path(@municipality, :master_id => @master.id)) %>
<% end %>


<% if muni_admin_can? :edit, @municipality %>
    | <%= link_to("Add New Network", new_master_municipality_network_path(:master_id => @master, :municipality_id => @municipality)) %>
<% end %>
  <% if muni_admin_can? :read, @municipality %>
      | <%= link_to("Map", map_master_municipality_path(@municipality, :master_id => @master)) %>
  <% end %>
  <% if muni_admin_can? :edit, @municipality %>
      | <%= link_to("Simulate", map_master_municipality_simulate_path(@municipality, :master_id => @master)) %>
  <% end %>
</p>

<p>
  <%=  button_to "Check Deploy Status", check_master_municipality_path(@municipality, :master_id => @master), :method => :get, :remote => true, :id => "check" %>
</p>
<div id="status"></div>
<div id="deploy_button" style="display: none">
  <p></p>
  <%= button_to "Select as Active", deploy_master_municipality_path(@municipality, :master_id => @master.id) %>
</div>
<h3>Networks</h3>

<% if @municipality.networks.count > 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Routes</th>
        <th>Services</th>
        <th>Vehicle Journeys</th>
        <th>Route Codes</th>
      </tr>
      <% for n in @municipality.networks do %>
          <% n.master = @municipality.master; n.save! %>
          <tr>
            <td><%= link_to "#{n.name}", master_municipality_network_path(n, :master_id => @master.id, :municipality_id => @municipality.id) %></td>
            <td><%= n.description %></td>
            <td><%= n.routes.count %></td>
            <td><%= n.services.count %></td>
            <td><%= n.vehicle_journey_count %></td>
            <td><%= n.route_codes.join(", ") %></td>
            <td><%= link_to("Explore", master_municipality_network_path(n, :master_id => @master.id, :municipality_id => @municipality)) if muni_admin_can?(:edit, n)%></td>
            <td><%= link_to("Edit", edit_master_municipality_network_path(n,:master_id => @master.id, :municipality_id => @municipality.id)) if muni_admin_can?(:edit, n) %></td>
            <td><%= link_to("Plan", master_municipality_network_plan_path(n, :master_id => @master.id, :municipality_id => @municipality)) if muni_admin_can?(:edit, n) %></td>
            <td><%= button_to "Copy to Deployment", move_master_municipality_network_path(n, :master_id => @master.id, :municipality_id => @municipality.id) %></td>
            <td><%= button_to("Delete", master_municipality_network_path(n, :master_id => @master.id, :municipality_id => @municipality.id), :method => :delete, :confirm => "Are you sure?") if muni_admin_can?(:delete, n) %></td>
          </tr>
      <% end %>
    </table>
 <% end %>
