<h2>Municipality Planning for <%=  @muni.name %></h2>
Welcome Planner <%= current_admin.name %><br />
Database: <%= @database %><br />
Slug <%= @slug %>          <br />
<table>
  <tr>
    <th>Name</th>
    <td><%= @muni.name %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= to_location_str(@muni.location) %></td>
  </tr>
</table>
