<%= render :partial => "masters/tools/stop_points_finder/script" %>

<% content_for :left do %>
    <%= render :partial => "navigation/admin_nav" %>
<% end %>

<h1>Journey Path Finder</h1>
<div>
  <div class="row">
    <div id="navigation" class="left">
      <div class="btn-group" data-toggle="buttons-radio" >
      <button id="show_names" type="button" class="btn" data-toggle="button">Names</button>
      <button id="show_locations" type="button" class="btn" data-toggle="button">Locations</button>
      </div>

      <form id="stop_points" name="stop_points" action="#" onsubmit="return false;">
        <ul id="stop_points_list" class="stop_points_list">
        </ul>
        <ul>
          <li>
            <div>
              <img src="/assets/yours/markers/marker.png" alt="Add Stop" height="24" style="vertical-align:middle;"/>
              <input type="button" id="add_stoppoint" value="Add Stop" tabindex="4" class="btn"/>
            </div>
          </li>
          <li>
            <div>
              <button id="drawlines" class="btn">Draw Lines</button>
                <i class="icon-refresh"></i>
            </div>
          </li>
        </ul>
      </form>
      <div id="statusbox"><span id="status">
          </span>
        <img id="route_waiting" src="/assets/yours/images/ajax-loader.gif" alt="waiting"/></div>
      <p></p>
      <span>Route KML</span>
      <div id="copybox">
        <input id="copybox_field" name="kml" type="text"/>
      </div>
    </div>
    <div id="map" class="right"></div>
    <div style="clear:both"></div>
  </div>
</div>
<div class="content">
    <%= form_for @csv_file, :url => download_master_tools_stop_points_finder_path(@master), :validate => true, :remote => false do |form| %>
       <table class="table">
         <thead>
         <tr>
           <th>Route Name</th>
           <th>Route Code</th>
           <th>Route Sort</th>
         </tr>
         </thead>
         <tbody>
         <tr>
           <td><%= form.text_field :name %></td>
           <td><%= form.text_field :code %></td>
           <td><%= form.text_field :sort %></td>
         </tr>
         </tbody>
       </table>
        <table class="table">
          <thead>
          <tr>
            <th>Direction</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= form.text_field :direction %></td>
            <td><%= form.text_field :start_date %></td>
            <td><%= form.text_field :end_date %></td>
          </tr>
          </tbody>
        </table>
        <%= form.hidden_field :kml, :id => "service_kml_field" %>
        <%= form.submit "Download Service CSV File" %>
    <% end %>

</div>
