<h2><%= link_to "Network #{@network.name}", network_path(@network, :masters => @muni.slug) %></h2>
<h3><%= link_to "Service #{@service.name}",
                network_service_path(@service, :masters => @muni.slug, :network_id => @network) %></h3>
<table>
  <tr>
    <th>Route</th>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Vehicle Journeys</th>
  </tr>
  <% for s in [@service] do %>
      <tr>
        <td><%= link_to s.route.code, network_route_path(s.route,:masters => @muni.slug, :network_id => @network) %></td>
        <td><%= s.name  %></td>
        <!--- TODO: Internatialize Time -->
        <td><%= s.operating_period_start_date.strftime("%m-%d-%Y") %></td>
        <td><%= s.operating_period_end_date.strftime("%m-%d-%Y") %></td>
        <td><%= s.vehicle_journeys.count %></td>
      </tr>
  <% end %>
</table>
<table>
  <tr>
    <th>Route</th>
    <th>Display Name</th>
    <th>Direction</th>
    <th>Departure Time</th>
    <th>End Time</th>
    <th>Links</th>
  </tr>
  <% for vj in @journeys do %>
      <tr>
        <td><%= link_to vj.route.code, network_route_path(vj.route,:masters => @muni.slug, :network_id => @network)  %></td>
        <td><%= link_to vj.display_name,
                        network_vehicle_journey_path(vj, :masters => @muni.slug, :network_id => @network)  %></td>
        <td><%= @service.direction  %></td>
        <!--- TODO: Internatialize Time -->
        <td><%= vj.time_start.strftime("%H:%M") %></td>
        <td><%= vj.time_end.strftime("%H:%M") %></td>
        <td><%= vj.journey_pattern_timing_links.count %></td>
      </tr>
  <% end %>
</table>