<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Webmap for Busme</title>
  <%= stylesheet_link_tag "normal-layout", :media => "all", :debug => true %>
  <%= javascript_include_tag "normal-layout", :debug => true %>
  <script type="text/javascript">
      $(function () {
          $("#admin_site_nav").treeview({
              animated:"fast",
              persist:"location",
              unique:true
          });
      });
  </script>
  <%= stylesheet_link_tag "webmap" %>
  <%= javascript_include_tag "webmap" %>
  <%= stylesheet_link_tag "#{controller_path}" %>
  <%= javascript_include_tag "#{controller_path}" %>
  <%= yield :head %>
</head>
<body class="<%= params[:controller] %>">
    <div class="ui-layout-north">
      <header>
        <nav>
          <ul class="hmenu">
            <% if params[:controller] == "active" %>
                <%= render :partial => "shared/user_navigation" %>
            <% else %>
                <%= render :partial => 'shared/muni_admin_navigation' %>
            <% end %>
          </ul>
          <div id="application-header">Busme <%= @master.name %></div>
        </nav>
        <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
      </header>
    </div>
    <% if @master && @master.admin_site %>
        <div class="ui-layout-west">
          <%= render(:partial => "masters/admin_nav").html_safe %>
        </div>
    <% end %>
    <div class="ui-layout-center">
      <%= yield %>
    </div>
    <div class="ui-layout-south">South</div>
</body>
</html>
