<%= content_for :left do %>
    <%= render :partial => "navigation/websites_nav" %>
<% end %>
<h1>Feedback</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Sender</th>
    <th>Email</th>
    <th>Received</th>
    <th>Subject</th>
  </tr>
  <div class="pagination">
    <ul>
      <li>
        <% if @feedbacks.previous_page %>
            <%= link_to("Newer", feedbacks_path(:page => @feedbacks.previous_page)) %>
        <% else %>
            <%= link_to("Newer", "#", :class => "disabled") %>
        <% end %>
      </li>
      <li class="active">
        <%= link_to @feedbacks.current_page, feedbacks_path(:page => @feedbacks.current_page) %>
      </li>
      <li>
        <% if @feedbacks.next_page %>
            <%= link_to("Older", feedbacks_path(:page => @feedbacks.next_page)) %>
        <% else %>
            <%= link_to("Older", "#", :class => "disabled") %>
        <% end %>
      </li>
    </ul>
  </div>
  </thead>
  <tbody>
  <% for f in @feedbacks do %>
  <tr>
    <td>
      <%= f.sender.name %>
    </td>
    <td>
      <%= f.sender.email %>
    </td>
    <td>
      <%= f.created_at %>
    </td>
    <td>
      <%= link_to (f.subject.blank? ? "No Subject" : f.subject), feedback_path(f) %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>