<h1>Message from <%= @feedback.sender.name %></h1>
<p>
  From <%= mail_to @feedback.sender.email %>
</p>
<h2><%= @feedback.subject %></h2>
<h3>Request Data</h3>
Request Url: <%= @feedback.request_url %>
<h3>Message</h3>
<p>
  <%= @feedback.message %>
</p>
