
<table class="table table-striped">
  <thead>
  <tr>
    <th>Route</th>
    <th>Display Name</th>
    <th>Days</th>
    <th>Direction</th>
    <th>Departs</th>
    <th>Ends</th>
    <th>Links</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%=  link_to @vehicle_journey.route.code, master_deployment_network_route_path(@master, @deployment, @network, @vehicle_journey.route)  %></td>
    <td><%=  link_to @vehicle_journey.display_name, master_deployment_network_vehicle_journey_path(@master, @deployment, @network, @vehicle_journey)  %></td>
    <td><%=  @vehicle_journey.service.day_class  %></td>
    <td><%=  @vehicle_journey.service.direction  %></td>
    <!--- TODO: Internatialize Time -->
    <td><%=  @vehicle_journey.time_start_lit %></td>
    <td><%=  @vehicle_journey.time_end_lit %></td>
    <td><%=  @vehicle_journey.journey_pattern_timing_links.count %></td>
  </tr>
  </tbody>
</table>