<h2>Deployment</h2>
<% if current_muni_admin %>
    <p><%= "Welcome #{current_muni_admin.name}" %></p>
<% end %>

<table>
  <tr>
    <th>Version</th>
    <td><%= @municipality.name %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= to_location_str(@municipality.location) %></td>
  </tr>
  <tr>
    <th>Mode</th>
    <td><%= @municipality.mode %></td>
  </tr>
  <tr>
    <th>Owner</th>
    <td><%= @municipality.owner.name %></td>
  </tr>
</table>
<h3>Networks <%=  @municipality.networks.count %></h3>

<% if @municipality.networks.count > 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th>Routes</th>
        <th>Services</th>
        <th>Vehicle Journeys</th>
      </tr>
      <% for n in @municipality.networks do %>
          <tr>
            <td><%=  link_to "Network #{n.name}", master_municipality_network_path(n) %></td>
            <td><%=  n.routes.count %></td>
            <td><%=  n.services.count %></td>
            <td><%=  n.vehicle_journies.count %></td>
          </tr>
      <% end %>
    </table>
 <% end %>

<%= link_to("Edit Description", edit_master_municipality_path(@municipality, :master_id => @master.id)) if muni_admin_can?(:edit, @municipality) %>
| <%= link_to "All", master_municipalities_path %>

  <% if muni_admin_can? :edit, @municipality %>
      | <%= link_to("Planning", plan_networks_path(:master_id => @master, :municipality_id => @municipality)) %>
<% end %>