<h2>Municipality</h2>
<% if current_muni_admin %>
    <p><%= "Welcome #{current_muni_admin.name}" %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <td><%= @municipality.name %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= to_location_str(@municipality.location) %></td>
  </tr>
  <tr>
    <th>Owner</th>
    <td><%= @municipality.owner.name %></td>
  </tr>
</table>
<h3>Networks <%=  @municipality.networks.count %></h3>
<table>
  <tr>
    <th>Name</th>
    <th>Routes</th>
    <th>Services</th>
    <th>Vehicle Journeys</th>
  </tr>
  <% for n in @municipality.networks do %>
      <tr>
        <td><%=  link_to "Network #{n.name}", master_municipality_network_path(n) %></td>
        <td><%=  n.routes.count %></td>
        <td><%=  n.services.count %></td>
        <td><%=  n.vehicle_journies.count %></td>
      </tr>
  <% end %>
</table>

<%= link_to("Edit", edit_master_municipality_path(@municipality)) if muni_admin_can?(:edit, @municipality) %>
| <%= link_to "All", master_municipalities_path %>
<p>
  <%= link_to "Edit", edit_master_municipality_path(@municipality) %> | <%= link_to "All", master_municipalities_path %>

  <% if muni_admin_can? :edit, @municipality %>
      <%= link_to("Municipality Planning", master_municipality_path(@municipality)) %>
<% end %>