
<div  class="pretty">
  <div class="row-fluid header">
    <div class="span2 header"><%= sortable "name", "Name" %></div>
    <div class="span2 header"><%= sortable "email" %></div>
    <div class="span<%=@roles.length%> header"><%= "Roles" %></div>
    <div class="span3 header"><%= "Operations" %></div>
  </div>
  <div class="row-fluid header">
    <div class="span2 header">&nbsp;</div>
    <div class="span2 header">&nbsp;</div>
    <% for role in @roles do %>
        <div class="span1 header"><%= role.to_s.titleize %></div>
    <% end %>
  </div>

  <% odd = true %>
  <% @users.each do |user| %>
     <%= render :partial => "user_row", :locals => { :user => user, :alt => (odd = !odd) } %>
  <% end %>
</div>
<%= will_paginate @users, :renderer => BootstrapPagination::Rails %>

<% @users.each do |user| %>
    <%= render "password_modal", :user => user %>
<% end %>