
<table class="table table-striped">
  <thead><tr>
    <th>Route</th>
    <th>Display Name</th>
    <th>Direction</th>
    <th>Departure Time</th>
    <th>End Time</th>
    <th>Links</th>
    <th></th>
  </tr></thead>
  <tbody><% for vj in @journeys do %>
      <tr>
        <td><%= link_to vj.route.code, master_deployment_network_route_path(@master, @deployment, @network, vj.route)   %></td>
        <td><%= link_to vj.display_name, master_deployment_network_vehicle_journey_path(@master, @deployment, @network, vj)  %></td>
        <td><%= @service.direction  %></td>
        <!--- TODO: Internatialize Time -->
        <td><%= vj.time_start_lit %></td>
        <td><%= vj.time_end_lit %></td>
        <td><%= vj.journey_pattern_timing_links.count %></td>
        <td><%= link_to "Map", map_master_deployment_network_vehicle_journey_path(@master, @deployment, @network, vj), :class => "btn" %></td>
      </tr>
  <% end %></tbody>
</table>