<table class="table table-striped">
  <thead><tr>
    <th>Route</th>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Days</th>
    <th>Journeys</th>
  </tr></thead>
  <tbody><% for s in @services do %>
      <tr>
        <td><%=  link_to s.route.code, master_deployment_network_route_path(@master, @deployment, @network, s.route)  %></td>
        <td><%=  link_to s.name, master_deployment_network_route_path(@master, @deployment, @network, s.route)  %></td>
        <!--- TODO: Internatialize Time -->
        <td><%=  s.operating_period_start_date.strftime(@master.date_format) %></td>
        <td><%=  s.operating_period_end_date.strftime(@master.date_format) %></td>
        <td><%=  s.day_class %></td>
        <td><%=  s.vehicle_journeys.count %></td>
      </tr>
  <% end %></tbody>
</table>