<table class="table table-striped">
  <tr>
    <th>Route</th>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Vehicle Journeys</th>
  </tr>
  <% for s in [@service] do %>
      <tr>
        <td><%=  link_to s.route.code, master_municipality_network_route_path(@master, @municipality, @network, s.route)  %></td>
        <td><%=  link_to s.name, master_municipality_network_route_path(@master, @municipality, @network, s.route)  %></td>
        <!--- TODO: Internatialize Time -->
        <td><%= s.operating_period_start_date.strftime("%m-%d-%Y") %></td>
        <td><%= s.operating_period_end_date.strftime("%m-%d-%Y") %></td>
        <td><%= s.vehicle_journeys.count %></td>
      </tr>
  <% end %>
</table>