
    <h4>Vehicle Journeys on this Service and Route</h4>
    <table class="table table-striped">
      <thead><tr>
        <th>Route</th>
        <th>Display Name</th>
        <th>Days</th>
        <th>Direction</th>
        <th>Departs</th>
        <th>Ends</th>
        <th>Links</th>
      </tr></thead>
      <tbody><% for vj in @service.vehicle_journeys do %>
          <tr>
            <td><%=  link_to vj.route.code, master_deployment_network_route_path(@master, @deployment, @network, @route)  %></td>
            <td><%=  link_to vj.display_name, master_deployment_network_vehicle_journey_path(@master, @deployment, @network, vj)  %></td>
            <td><%=  @service.direction  %></td>
            <td><%=  @service.day_class %></td>
            <!--- TODO: Internationalize Time -->
            <td><%= vj.time_start_lit %></td>
            <td><%= vj.time_end_lit %></td>
            <td><%= vj.journey_pattern_timing_links.count %></td>
            <td><%= link_to "Map", map_master_deployment_network_vehicle_journey_path(@master, @deployment, @network, vj), :class => "btn" %></td>
          </tr>
      <% end %></tbody>
    </table>