<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busme <%= @master ? @master.name : "US" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "normal-layout", :media => "all", :debug => true %>
  <%= javascript_include_tag "normal-layout", :debug => true  %>
  <%= stylesheet_link_tag "#{controller_path}" %>
  <%= javascript_include_tag "#{controller_path}" %>
  <%= csrf_meta_tags %>
  <%=  yield :head %>

  <script id="IntercomSettingsScriptTag">
      // This is picked up by Intercom Integration in normal-layout.js
      var intercomSettings = {
          app_id:'<%= appid_for_intercom %>',
          name:'<%= name_for_intercom %>',
          user_id:'<%= user_id_for_intercom %>',
          email:'<%= email_for_intercom %>',
          created_at:'<%= created_at_for_intercom %>'
      };
  </script>
</head>
<body class="<%= params[:controller] %>">
<div id="ui-layout-container">
  <div class="ui-layout-north">
    <header>
      <nav>
        <%= render 'shared/customer_navigation' %>
      </nav>
      <div id="notices">
        <!-- We need this because it is used to calculate the height
        -- of the flash window to set the North Layout to the size
        -- when an actual flash message does appear after the DOM is set..
        -->
        <div id='flash_inert' class='alert'>&nbsp;</div>
      </div>
      <div id="application-header">Busme US</div>
    </header>
  </div>
  <div class="ui-layout-west">
    <%= yield :left %>
  </div>
  <div class="ui-layout-center">
    <%= yield %>
  </div>
  <div class="ui-layout-south">
    <span class="pull-left">(C) 2009-2012. All Rights Reserved by Adiron, LLC</span>

    <div class="feedback">
      <%= link_to "Feedback", "#FeedbackModal", :class => "btn feedback-btn", :data => { :toggle => "modal" } %>
    </div>
  </div>
</div>
<%
   # Twitter Bootstrap and Layout Center do not play well together
   # Twitter needs modals within "container" class outside of the "ui-layout-center".
%>
<div id="container" class="container">
  <%= yield :modals %>
  <%= render :partial => "shared/feedback_modal" %>
  <div id="modals">
  </div>
</div>

</body>
</html>