<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Webmap for Busme</title>
    <script type='text/javascript'>
        debug = true;
        console.log("Staring Load");
   </script>
    <%= stylesheet_link_tag "webmap" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "webmap" %>
    <%= javascript_include_tag params[:controller] %>
    <script type="text/javascript">
        console.log("Ending Load");
    </script>
    <%= yield :head %>
  </head>
  <body class="<%= params[:controller] %>">
  <div class="ui-layout-north">
    <header>
      <nav>
        <ul class="hmenu">
          <%= render 'shared/muni_admin_navigation' %>
        </ul>
        <div id="application-header">Busme <%= @master.name %></div>
      </nav>
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
    </header>
  </div>
  <div class="ui-layout-center">
    <div id="container" class="container">
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->
  </div>
  <div class="ui-layout-south">South</div>
  </body>
</html>
